{% extends '_base.html' %}
{% block style %}
<style>
    body {
        background-color: red;
    }
</style>
{% endblock %}

{% block container %}

{% if imagem %}
    <img src="{{ url_for('media', path=imagem) }}" alt="Imagem">
{% endif %}


<h1>Assinatura: {{ id }}</h1>
<form action="/upload" enctype="multipart/form-data" method="post">
    <div class="input-group mt-4 mb-3">
        <input type="file" name="arquivo" id="arquivo" class="form-control">
        <button class="btn btn-success border-rad custom-btn" type="submit"
            id="button-addon2">Inscrever</button>
    </div>
</form>
{% endblock %}